<h1 class="text-center">Imagenes Aleatorias</h1>
<br />

<swiper>
  <ng-template swiperSlide>
    <div class="col d-flex justify-content-center">
      <img
        class="rounded"
        src="https://picsum.photos/720/300?random=1"
        alt=""
      />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="col d-flex justify-content-center">
      <img
        class="rounded"
        src="https://picsum.photos/720/300?random=2"
        alt=""
      />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="col d-flex justify-content-center">
      <img
        class="rounded"
        src="https://picsum.photos/720/300?random=3"
        alt=""
      />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="col d-flex justify-content-center">
      <img
        class="rounded"
        src="https://picsum.photos/720/300?random=4"
        alt=""
      />
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="col d-flex justify-content-center">
      <img
        class="rounded"
        src="https://picsum.photos/720/300?random=5"
        alt=""
      />
    </div>
  </ng-template>
</swiper>
