<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 18rem">
        <div class="card-header text-white bg-primary">Grupos</div>
        <div class="card-header">
          <label class="sr-only" for="inlineFormInputGroupUsername2"
            >Username</label
          >
          <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" placeholder="Buscar" />
          </div>
        </div>
        <div class="card-body">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="grupos"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of grupos" cdkDrag>
              {{ item.name }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="seleccionados"
        class="example-list p-3"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="drop($event)"
      >
        <mat-card *ngFor="let item of seleccionados" cdkDrag>
          <mat-card-header class="bg-primary rounded py-3 text-white">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                checked
                (change)="checkValue(item.name)"
                [id]="item.name"
              />
              <label class="form-check-label" [for]="item.name">
                {{ item.name }}
              </label>
            </div>
          </mat-card-header>
          <mat-card-content
            [style.overflow]="'auto'"
            [style.maxHeight.px]="'250'"
          >
            <p *ngIf="!item.employees">No hay empleados en este grupo,</p>
            <ul *ngIf="item.employees" class="list-group">
              <li
                *ngFor="let employee of item.employees"
                class="list-group-item"
              >
                <div class="form-check">
                  <input
                    class="form-check-input employee-cb"
                    type="checkbox"
                    checked
                    [id]="employee.id"
                    [ngClass]="item.name"
                  />
                  <label class="form-check-label" [for]="employee.id">
                    {{ employee.name }}
                  </label>
                </div>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>

        <button
          (click)="printAll()"
          mat-raised-button
          class="bg-primary text-white"
        >
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>
